.section__action {
  background-color: var(--color-blue-2);
  background: var(--gradient-2);
  color: white;
}

.action__cells {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  position: relative;
  z-index: 5;
  gap: 24px;
}
