.hero {
  height: 37rem;
  width: 100%;
  position: relative;
  &__video-wrapper {
    height: 100%;
    width: 100%;
    & > video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--gradient-1);
    }
  }
  &__shell {
    position: absolute;
    inset: 0;
    color: white;
    padding: 3rem;
  }
  &__inner {
    padding: 5rem, 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  &__content {
    // flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 872px;
  }
  &__subtitle {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__title {
    font-size: 4.5rem;
  }
}

.separator {
  width: 6rem;
  height: 1px;
  display: block;
  background-color: #fff;
  margin: 0 2rem;
}
