.section__why {
  display: flex;
  color: white;
  gap: 2rem;

  &-title {
    max-width: 30%;
    & > * {
      margin-bottom: 2rem;
    }
  }
  &-infos {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    & > * {
      flex: 0 0 45%;
    }
  }
}
