.ticker {
  width: 100vw;
  padding: 2.2rem 0;
  background-color: var(--color-blue-2);

  &__container {
    overflow: hidden;
    width: 100%;
  }
  &__inner {
    width: fit-content;
    display: flex;
    gap: 20px;
    animation: scroll 60s linear infinite;
    flex-wrap: nowrap;

    &:hover {
      animation-play-state: paused;
    }
  }
}

.disclaimer {
  color: var(--text-color-2);
  padding: 0.5rem 20rem;
  font-size: 0.8rem;
  line-height: 1.8rem;
  background-color: var(--color-blue-3);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
    // transform: translateX(calc(-(258px) * 20));
  }
}
