.btn {
  cursor: pointer;

  &__arrow--filled {
    background-color: var(--color-blue-1);
    color: inherit;
    text-decoration: none;
    padding: 0.3rem 2rem;
    border-radius: 1000px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;

    &:hover {
      background-color: var(--color-blue-4);
    }
  }
}
