.btn__social {
  color: white;
  text-decoration: none;
  width: 48px;
  height: 48px;
  &.style {
    background-color: var(--color-blue-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    & > img {
      height: 23px;
      width: 22px;
    }
  }
}
